[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==1.0.2"
requests = "*"
pyopenssl = "*"
"psycopg2-binary" = "*"
alembic = "*"
Unipath = "==1.1"

[dev-packages]
pytest = "*"
ipython = "*"
ipdb = "*"

[requires]
python_version = "3.6"
